#miniorange_ldap_protocol{
	width:30%;
	border-radius: 12px;
	padding: 10px;
}
#text_field{
    width: 50%;
	padding: 12px 20px;

	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
#callbackurl{
    width: 50%;
	padding: 12px 20px;

	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}

#button_config{
	background-color: #008CBA;
	border: none;
	color:black;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
	font-size: 16px;
}

.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	margin-left: 200px;
    width: 80%;
	clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
		list-style-type:none;
		border: 1px dashed #999999;
		width:98%;
		float:left;
		padding:5%;

	}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}
/*** CSS For LDAP Request And Response ***/

.mo-display-logs{
	color: #3c763d;
	background-color: #dff0d8;
	padding:2%;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #AEDB9A;
	font-size:18pt;
}
.mo-display-block {
	color: #050505;
	width: -moz-available;
	min-height: 300px !important;
	overflow: auto;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 2%;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #AEDB9A;
	font-size: 12pt;
}

/* attribute showcase css */

.mo_guide_table {
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 13px;
}

.mo_guide_table-bordered>thead>tr>th {
  border-bottom-width: 2px;
}

.mo_guide_table-bordered {
  border: 1px solid #ddd;
}

.mo_guide_table-bordered>thead>tr>th,
.mo_guide_table-bordered>tbody>tr>td {
  border: 1px solid #ddd;
}

.mo_guide_table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
}

.mo_guide_text-center {
  text-align: center;
}

.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.mo_guide_text-color {
  color: #fe7e00;
}
